<h4>New Content Feed File</h4>
<%= form_for [:admin, @content_resource], :html => { :multipart => true } do |f| %>
  <table class="basic-table">
    <tr data-hook="file">
      <td><%= t(:filename) %>:</td>
      <td><%= f.file_field :avatar %></td>
    </tr>
  </table>
  <p class="form-buttons" data-hook="buttons">
    <%= button "upload" %>
  </p>
<% end %>